h2 {
  text-align: center;
  padding: 1rem 1rem;
}

/*
 * Adaptive multi-resolution.
 * The order is very important!
**/

@media (min-width: 576px) {
  .tab {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .tab {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .tab {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .tab {
    max-width: 1140px;
  }
}

/* tab */

.tab {
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding-inline-start: 0;
}

.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.tabs a {
  background-color: #eff0f2;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #87d3b7;
}

.tabs a:hover {
  background-color: #fdffff;
}

.tabs_item {
  display: none;
  padding: 30px 0;
}

.tabs_item:first-child {
  display: block;
}

.active a {
  color: #fff;
  background: #87d3b7;
}

.active a:hover {
  background: #3aa77f !important;
  border-bottom: 2px solid #3aa77f !important;
}

/* banner */

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1rem 0;
  display: none;
  /* display: flex; */
}

.banner div {
  text-align: center;
  height: 36px;
  line-height: 36px;
}

.banner a {
  font-weight: bold;
}

.dateInput {
  height: 36px;
  line-height: 36px;
}

button {
  color: #fff;
  background: #87d3b7;
  border: none;
  border-color: #87d3b7;
  padding: 0;
  width: 87px;
  cursor: pointer;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .3s;
}

button:hover {
  background: #3aa77f;
  border-color: #3aa77f;
}

/* table */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}

/* footer */

footer>div {
  margin: 2em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 0.85em;
  font-family: "Microsoft YaHei";
}

footer>div>a {
  text-decoration: none;
}

footer>div>a:hover {
  text-decoration: none;
  color: #87d3b7;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}
